<div class="list_recipes">
<% @categories.each do |category| %>

  <h2><a href="<%= category_path(category) %>"><%= category.name.pluralize %></a></h2>

  <%= render partial: 'list_recipes', locals: {category_id: category.id} %> 

 <% end %>

<% unless Recipe.where(category_id: nil).count == 0 %>
  <h2>Recipes with no Category</h2>


    <%= render partial: 'list_recipes', locals: {category_id: nil} %> 
  <% end %>
</div>