<% recipes = Recipe.where(category_id: category_id) %>
  <table>
  <% recipes.each do |recipe| %>

    <tr>

      <td><a href="<%= recipe_path(recipe) %>"><%= recipe.name %></a></td>
    
      <td><%= button_to 'Delete', recipe_path(recipe), :method => :delete %></td>
      <td><%= button_to 'Edit', edit_recipe_path(recipe), :method => :get %></td>
    </tr>

  <% end %>
  </table>

  

